.idea
*/admin/font-awesome/*
*/admin/js/plugins/*
*/public/js/bootstrap.js
*/public/js/bootstrap.min.js
*/public/js/jquery.js
*/public/fonts/*
*/admin/fonts/*
*/public/css/bootstrap.css
*/public/css/bootstrap.min.css
*/admin/css/plugins/*
*/admin/css/bootstrap.css
*/admin/css/bootstrap.min.css

